<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021379780776-2vrgfdlr1dcgvg4qsioq9757svqusk8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021379780776-2vrgfdlr1dcgvg4qsioq9757svqusk8c</string>
	<key>API_KEY</key>
	<string>AIzaSyD1e3AXDqfS6brRv5X5PwxUlOM-JN_WbSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1021379780776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masa4y44-.masaya.nakakuki.SwiftUI-Playground</string>
	<key>PROJECT_ID</key>
	<string>swiftui-simple-login</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-simple-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021379780776:ios:1f7ceeb7fbd29f6abfe29d</string>
</dict>
</plist>